@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style='background-image:url(@Url.Content("~/Images/index-wallpaper.jpg"));background-size:cover;height:480px'>
    <br/>
    <h1 class="display-4">
        Welcome
    </h1>
    <p>Everything you want is on your hands...</p>
    <p></p>

    <a asp-controller="Product" asp-action="Products" class="btn btn-outline-dark btn-lg"> Start Shoping Now! </a>

</div>
